#header {

    width: 100vw;
    height: 50px;
    background-color: var(--secondary-background-color);

    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;

    padding: 0 1em;

}

#header > .projectName {

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

}

#header > .projectName input.hidden-input {

    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;

}

#header > .control-buttons > button {

    display: flex;
    justify-content: center;
    align-items: center;

}
