:root {

    --odd-cue-color: #3e3e3e;
    --even-cue-color: #292929;

}

#cue-list {

    height: 100%;

}

#cue-list .cue {

    width: 100%;
    background-color: var(--odd-cue-color);
    height: 26px;
    display: flex; 
    justify-content: space-between;
    align-items: center;

}

#cue-list .cue > h1 {

    font-size: 1.1rem;
    font-weight: 500;

}

#cue-list .cue:nth-child(even) {

    background-color: var(--even-cue-color);

} 


#cue-list .cue.selected {

    background-color: var(--selected-color) !important;

}

#cue-list .cue > .hamburger-icon {

    height: 100%;
    width: 40px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#cue-list table {

    width: 100%;

}

#cue-list th {

    resize: horizontal;
    background-color: var(--table-header-color);
    border-top: 1px solid var(--divider-color);
    border-right: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    font-size: 0.95rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0;

}

#cue-list tbody {

    position: relative;

}

#cue-list th:last-of-type {
    border-right: none !important;
}

#cue-list th:first-of-type {
    border-left: none !important;
}


#cue-list th,
#cue-list td {

    padding: 0.25em;
    text-align: left;
    overflow: auto;

}


#cue-list th.rigid {

    overflow: unset !important;

}

#cue-list td {

    border-bottom: solid rgb(15, 15, 15) 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#cue-list td.info {

    padding: 0;
    position: relative;

}


#cue-list td.info .machine-id {

    width: 5px;
    height: var(--cue-row-height);
    background-color: slategray;

}

#cue-list tbody tr {

    background-color: var(--background-color);
    cursor: default !important;
    height: var(--cue-row-height);
    cursor: grab;
    transition: all ease-in-out 0.2s;
    transition: opacity 0s;

}

#cue-list tbody tr>td:first-of-type {

    border-right: solid 1px var(--divider-color);

}

#cue-list tbody tr.selected {

    background-color: var(--selection-color) !important;

}

#cue-list tbody tr.odd {

    background-color: var(--table-header-color);

}

#cue-list tbody tr.light {

    --local-height: 5px;

    opacity: 1;
    height: var(--local-height);
    width: 100%;
    background-color: var(--selection-color);
    transform: translateY(calc(var(--height) / 2 - var(--local-height) / 2));
    border: none;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    border: none;
    opacity: 1;

}

#cue-list {
    --cue-row-height: 35px;

    border-collapse: collapse;
    margin: 0;
    font-size: 1ch;
    min-width: 400px;
    table-layout: auto;
    width: 100%;
    font-size: 1rem;
    max-height: 100% !important;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

}


#cue-list input.hidden-input {

    width: 100%;
    height: 100%;
    margin: 0;

}

#cue-list th {

    resize: horizontal;
    background-color: var(--table-header-color);
    border-top: 1px solid var(--divider-color);
    border-right: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    font-size: 0.95rem;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0;

}

#cue-list tbody {

    position: relative;

}

#cue-list th:last-of-type {
    border-right: none !important;
}

#cue-list th:first-of-type {
    border-left: none !important;
}


#cue-list th,
#cue-list td {

    padding: 0.25em;
    text-align: left;
    overflow: auto;

}


#cue-list th.rigid {

    overflow: unset !important;

}

#cue-list td {

    border-bottom: solid rgb(15, 15, 15) 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#cue-list td.info {

    padding: 0;
    position: relative;

}


#cue-list td.info .machine-id {

    width: 5px;
    height: var(--cue-row-height);
    background-color: slategray;

}

#cue-list tbody tr {

    background-color: var(--background-color);
    cursor: default !important;
    height: var(--cue-row-height);
    cursor: grab;
    transition: all ease-in-out 0.2s;
    transition: opacity 0s;

}

#cue-list tbody tr>td:first-of-type {

    border-right: solid 1px var(--divider-color);

}

#cue-list tbody tr.selected {

    background-color: var(--selection-color) !important;

}

#cue-list tbody tr.odd {

    background-color: var(--table-header-color);

}

#cue-list tbody tr.light {

    --local-height: 5px;

    opacity: 1;
    height: var(--local-height);
    width: 100%;
    background-color: var(--selection-color);
    transform: translateY(calc(var(--height) / 2 - var(--local-height) / 2));
    border: none;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    border: none;
    opacity: 1;

}