#launcher {
    
    display: grid;
    grid-template-columns: 60% auto;
    height: 100vh;
    width: 100vw;

}

#launcher > .left > div > h1 {

    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0.5em 0 0 0;
    cursor: default;
        
}

#launcher > .left > div > p {
    
    cursor: default;

}

#launcher .left {

    text-align: center;
    display: grid;
    grid-template-rows: 25% auto;

}

#launcher .left > .buttons {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#launcher .left > .buttons > .btn {

    width: 80%;
    height: 10em;
    background-color: var(--button-color);
    border-radius: 8px;

    cursor: pointer;

    display: grid;
    grid-template-columns: 25% auto;

    margin: 1em 0;

}

#launcher .left > .buttons > .btn > .description {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#launcher .left > .buttons > .btn h1 {

    font-size: 2rem;
    font-weight: 650;
    margin: 0 0 0.5em 0;
    width: 100%;

}

#launcher .left > .buttons > .btn p {

    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    width: 85%;

}

#launcher .left > .buttons > .btn:hover { background-color: var(--button-hover-color); }
#launcher .left > .buttons > .btn:active { background-color: var(--button-active-color); }

#launcher .left > .buttons > .btn > .icon-wrapper {

    display: flex; 
    justify-content: center;
    align-items: center;

}

#launcher .left > .buttons > .btn > .icon-wrapper > .icon {
 
    font-size: 4rem;
    color: #dddddd;

}

#launcher .left > p {
    
    font-weight: 200;

}

#launcher .right {

    background-color: var(--secondary-background-color);
    width: 100%;

}

#launcher .right > h1 {

    text-align: center;
    margin: 0.5em 0 0 0;
    font-size: 2.25rem;
    font-weight: 600;
    cursor: default;

}

#launcher .right > .projects {

    margin: 1.5em 0 0 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

}

#launcher .right > .projects > .project {

    width: 90%;
    height: 6em;
    background-color: var(--button-color);
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 0 0 0 0.75em;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 0 0.75em 0;

    position: relative;

}

#launcher .right > .projects > .project:hover { background-color: var(--button-hover-color); }
#launcher .right > .projects > .project:active { background-color: var(--button-active-color); }

#launcher .right > .projects > .project > h1 {

    font-size: 1.75rem;
    font-weight: 500;

}

#launcher .right > .projects > .project > p {

    margin: 0.25em 0 0 0;

}

#launcher .right > .projects > .project > .x {

    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 0%;

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

}

#launcher .right > .projects > .project:hover > .x { opacity: 100%; }
#launcher .right > .projects > .project:hover > .x:hover { color: #aaaaaa; }
#launcher .right > .projects > .project:hover > .x:active { color: #ffffff; }

