#audio-visualizer {

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 25em auto;

}

#audio-visualizer > .controls {

    background-color: var(--secondary-background-color);



}

#audio-visualizer > #visualizer {
    
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 75% auto;
    
}

#audio-visualizer > #visualizer > .waveform {

    background-color: #04111b; 
    
    width: 100%;
    position: relative;

}

#audio-visualizer > #visualizer > .waveform > .playhead {

    position: absolute;

    height: 100%;
    width: 4px;
    background-color: var(--text-color);
    opacity: 80%;

    pointer-events: none;

}


#audio-visualizer > #visualizer > .waveform > .trigger {
 
    position: absolute;

    height: 100%;
    width: 4px;
    background-color: blue;
    opacity: 80%;

    pointer-events: none;

}

#audio-visualizer > #visualizer > .waveform > .midline {

    position: absolute;
    pointer-events: none;

    top: calc(50% - 1px);
    
    width: 100%; 
    height: 2px;
    
    background-color: var(--text-color);
    opacity: 25%;

}

#audio-visualizer > #visualizer > .controls {

    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 0 0.25em;

    background-color: green;

}

#audio-visualizer > #visualizer > .controls > #timestamp {

    display: flex;
    justify-content: space-evenly;

}

#audio-visualizer > #visualizer > .controls > #timestamp > p:nth-child(2) {

    margin: 0 0.5rem;

}