* {

    margin: 0;
    padding: 0; 
    box-sizing: border-box;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --nav-bar-height: 3.5em;
    --side-bar-width: 18em;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;

}

:root {
    --selected-color: #1052be;

    --background-color: #091a2a;
    --secondary-background-color: #041524;

    --secondary-separator-color: #192a3b;
    --secondary-hover-color: #12263a;

    --button-color: #112438;
    --button-hover-color: #142940;
    --button-active-color: #1a3450;

    --text-color: #ced9e5;
    --unfocused-text-color: #373d45;

    --skeleton-base-color: hsl(208, 60%, 16%);
    --skeleton-highlight-color: hsl(208, 60%, 24%);
}

:root, #root-app {

    position: absolute;
    min-width: 100vw;
    min-height: 100vh;

    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: hidden;
    /* overflow: scroll !important; */

    background-color: var(--background-color);
    color: var(--text-color);

}

button {
    cursor: pointer;
}
